[LH]
# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# Visual Studio / IDE
.vs/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj

# OS junk
.DS_Store
Thumbs.db

# Backups
*.bak
*.tmp
+.idea/
